<IfModule mod_rewrite.c>
  Options -Multiviews
  RewriteEngine On

  # Ganti /sibeauty/public sesuai nama folder kamu!
  RewriteBase /sibeauty/public

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>