<IfModule mod_rewrite.c>
    Options -Multiviews
    RewriteEngine On

    # Jika file/folder memang ada di folder public, jangan dialihkan
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Jika tidak ada, kirim semuanya ke index.php
    RewriteRule ^(.*)$ index.php?url=$1 [L]
</IfModule>